/*******************************
        NAVBAR
*******************************/

#topnav {
    z-index: 1030;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    min-height: 62px;
}

#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right
}

#topnav .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin-left: 30px;
}

#topnav .navigation-menu > li > a {
    display: block;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: 500;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 14px;
    padding-left: 15px;
    padding-right: 20px;
}

#topnav .navigation-menu > li .submenu li a i {
    margin-right: 10px;
    font-size: 14px;
}

#topnav .logo {
    float: left;
    line-height: 70px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

#topnav .menu-extras {
    float: right;
}

#topnav .has-submenu.active .submenu li.active > a {
    color: #1bbc9b;
}

#topnav .has-submenu.active .menu-arrow {
    border-color: #1bbc9b;
}

.has-submenu {
    position: relative;
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 28px auto;
    height: 15px;
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle span:last-child {
    margin-bottom: 0;
}

#topnav .navbar-toggle.open span {
    position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#topnav .navbar-toggle.open span:hover {
    background-color: #1bbc9b;
}

#topnav .navbar-toggle:hover,
#topnav .navbar-toggle:focus,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus {
    background-color: transparent;
}

.menu-arrow {
    border: solid rgba(255, 255, 255, 0.65);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: -12px;
    top: 30px;
}

.submenu-arrow {
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 18px;
}

.navigation-menu .has-submenu.active a {
    color: #fff !important;
}

.navbar-sticky.darkheader .navigation-menu .has-submenu.active a {
    color: #1bbc9b !important;
}


/**************
     LOGIN
***************/

.login-button {
    padding-top: 13px;
}

.btn-login {
    background: #fff;
    border-radius: 3px;
    color: #4c4c4c;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-login:hover {
    color: #4c4c4c;
}

@media (min-width: 992px) {
    #topnav .navigation-menu > li > a {
        padding: 28px 0;
    }
    #topnav .navigation-menu > li.last-elements .submenu {
        left: auto;
        right: 0;
    }
    #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    #topnav .navigation-menu > li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding: 5px 0;
        list-style: none;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
    }
    #topnav .navigation-menu > li .submenu.megamenu {
        white-space: nowrap;
        width: auto;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li {
        overflow: hidden;
        width: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #topnav .navigation-menu > li .submenu > li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }
    #topnav .navigation-menu > li .submenu li {
        position: relative;
    }
    #topnav .navigation-menu > li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    #topnav .navigation-menu > li .submenu li a {
        display: block;
        padding: 8px 20px;
        clear: both;
        white-space: nowrap;
        font-size: 14px;
        color: #7a7d84 !important;
        transition: all 0.3s;
        font-weight: 500;
    }
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu .has-submenu .submenu > li:hover > a {
        color: #1bbc9b !important;
    }
    #topnav .navbar-toggle {
        display: none;
    }
    #topnav #navigation {
        display: block !important;
    }
    .navigation-menu > li:hover > a {
        color: #fff !important;
    }
    #topnav .navigation-menu > li:hover > a {
        color: #fff;
    }
    .navigation-menu > li:hover > .menu-arrow {
        border-color: #fff;
    }
    #topnav.scroll-active .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #topnav.scroll .navigation-menu > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topnav.scroll {
        top: 0;
    }
}


/*******************************
        STICKY
*******************************/

.darkheader {
    background-color: #fff !important;
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.navbar-sticky.darkheader {
    top: 0px !important;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #fff;
}

.navbar-sticky .logo {
    color: #fff;
}

.navbar-sticky.darkheader .navigation-menu > li > a {
    color: #000 !important;
}

.navbar-sticky.darkheader .menu-arrow {
    border: solid #000;
    border-width: 0 1px 1px 0;
}

.navbar-sticky.darkheader .logo {
    color: #000;
}

#topnav .navbar-sticky {
    background-color: #fff;
    width: 100% !important;
}

.navigation-menu>li>a {
    color: rgba(255, 255, 255, 0.65) !important;
}

.navbar-sticky.darkheader .navigation-menu > li:hover > a {
    color: #1bbc9b !important;
}

.navbar-sticky.darkheader .navigation-menu > li:hover > .menu-arrow {
    border-color: #1bbc9b;
}

.navbar-sticky.darkheader .menu-arrow:hover {
    border: solid #1bbc9b;
    border-width: 0 1px 1px 0;
}

.navbar-sticky.darkheader .btn-login {
    background: #1bbc9b;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .menu-arrow {
        top: 15px;
        right: 20px;
    }
    .submenu-arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px;
    }
    .logo {
        padding: 0 !important;
        line-height: 0;
    }
    #topnav .container {
        width: auto;
    }
    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
    }
    #topnav .navigation-menu > li {
        float: none;
    }
    #topnav .navigation-menu > li > a {
        color: #28282e;
        padding: 10px 20px;
    }
    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu > li.has-submenu.open > a,
    #topnav .menu-extras .menu-item .cart > a:hover,
    #topnav .menu-extras .menu-item .search > a:hover {
        color: #1bbc9b;
    }
    #topnav .navigation-menu > li > a:after {
        position: absolute;
        right: 15px;
    }
    #topnav .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #topnav .navigation-menu > li .submenu li a {
        display: block;
        padding: 6px 15px;
        clear: both;
        white-space: nowrap;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #7a7d84;
        transition: all 0.3s;
    }
    #topnav .navigation-menu .submenu.open .has-submenu.open > a {
        color: #1bbc9b;
    }
    #topnav .navigation-menu > li .submenu.open {
        display: block;
    }
    #topnav .navigation-menu > li .submenu .submenu {
        display: none;
        list-style: none;
    }
    #topnav .navigation-menu > li .submenu .submenu.open {
        display: block;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li > ul {
        list-style: none;
        padding-left: 0;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: #7a7d84;
    }
    #topnav .navbar-toggle span {
        background-color: #7a7d84;
    }
    #topnav .navbar-header {
        float: left;
    }
    #topnav .logo {
        padding: 11px 0;
    }
    #topnav .logo .logo-light {
        display: none;
    }
    #topnav .logo .logo-dark {
        display: block;
    }
    #topnav .has-submenu.active a {
        color: #1bbc9b !important;
    }
    #navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        /* border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0; */
       /*  background-color: #ffffff; */
       background-color: #333;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    #topnav {
        background-color: #ffffff !important;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
    }
    #topnav .logo {
        line-height: 70px !important;
    }
    #topnav .navigation-menu > li > a {
        color: #666 !important;
    }
    .menu-arrow {
        border: solid #666;
        border-width: 0 2px 2px 0;
    }
    .navbar-sticky .logo {
        color: #656565 !important;
    }
    .login-button {
        display: none;
    }
    .navigation-menu .has-submenu.active a {
        border-bottom: none !important;
    }
    .navbar-sticky.darkheader .navigation-menu .has-submenu.active a {
        border-bottom: none !important;
    }
    .navbar-sticky.darkheader .menu-arrow {
        border: solid #666;
        border-width: 0 2px 2px 0;
    }
}